@font-face {
    font-family: 'HostGrotesk';
    src: url('/fonts/HostGrotesk-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HostGrotesk';
    src: url('/fonts/HostGrotesk-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HostGrotesk';
    src: url('/fonts/HostGrotesk-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
.custom-bg{
    background-color: #141e46;
}
body{
    font-family: 'HostGrotesk';
}
.display-0{
    font-size: 8rem;
}
.logo-store{
    max-height: 80px;
    justify-content: center;
    display: flex;
    object-fit: contain;
}