@font-face {
    font-family: 'HostGrotesk';
    src: url('/fonts/HostGrotesk-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HostGrotesk';
    src: url('/fonts/HostGrotesk-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HostGrotesk';
    src: url('/fonts/HostGrotesk-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
:root {
    --primary-bg: #141e46;
    --accent-color: #00bfff;
    --text-color: #ffffff;
    --card-bg: #ffffff;
}
.custom-bg{
    background-color: var(--primary-bg);
}

body{
    font-family: 'HostGrotesk';
    color: var(--text-color);
}
.display-0{
    font-size: 8rem;
}
.stores{
    width: 6rem;
    height:6rem;
}
.box-shadow{
    transition: box-shadow 0.3s ease;
    border: 6px solid transparent; 

}
.box-shadow:hover{
    box-shadow: 0 0 8px 2px var(--accent-color);
}
.selected{
    border: 6px solid var(--accent-color);
    border-radius: 10px;
}

.text-success {
    color: var(--accent-color) !important;
}
.btn-success {
    background-color: var(--accent-color) !important;
    border-color: var(--accent-color) !important;
}
.btn-success:hover {
    background-color: #0099cc !important;
    border-color: #0099cc !important;
}
